<section
  class="stylelib-wrapper stylelib-list"
  contenteditable="false"
  data-theme-color="<%=themeColor%>"
  data-is-vip="<%=isVip%>"
  data-change-color="<%=canChangeColor%>"
  data-hide-change-color-btn="<%=hideChangeColorBtn%>"
  data-is-full="<%=isFull && !isColorExtend%>"
  data-original-is-full="<%=isFull%>"
  data-key="navigator-tpl120"
  data-stylelib-tpl-attrname="data-is-full"
  data-stylelib-tpl-attrvalue="<?=isFull && !isColorExtend?>"
  data-stylelib-tpl-attrname-1="class"
  data-stylelib-tpl-attrvalue-1="stylelib-wrapper stylelib-list"
>
  <section class="x-vipIcon">
    <section style="display: none"></section>
  </section>
  <section style="position: relative;border-radius: 10px;box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.12);padding: 10px 20px;">
    <section class="">
      <a style="display: block" href="navLink:" data-link-no-cancel="true">
        <section
          data-stylelib-tpl-stylename-1="border-color"
          data-stylelib-tpl-stylevalue-1="<?= isDarkBgColor ? 'rgba(255, 255, 255, 0.17)' : 'rgba(151, 151, 151, 0.2)' ?>"
          style="padding: 8px 0; display: flex; align-items: center; margin-bottom: 8px"
        >
          <section style="flex: 1">
            <section
              data-stylelib-tpl-stylename-1="color"
              data-stylelib-tpl-stylevalue-1="<?= isDarkBgColor ? 'rgba(255, 255, 255, 0.8)' : 'rgba(0, 0, 0, 0.87)' ?>"
              contenteditable="<%=contentEditable%>"
              style="color: <%= isDarkBgColor ? 'rgba(255, 255, 255, 0.8)' : 'rgba(0, 0, 0, 0.87)' %>;font-size: 14px;"
              data-original-text=""
            >
              <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85); font-size: 22px; font-style: normal; font-weight: 600; line-height: normal">
                热门产品
              </span>
            </section>
          </section>
        </section>
      </a>
    </section>
    <section style="border-radius: 6px;padding-bottom: 10px;">
      <% forEach(getValue(data), function (row) { %>
      <section class="stylelib-list-item">
        <a style="display: block" href="navLink:" data-link-no-cancel="true">
          <section
            data-stylelib-tpl-stylename-1="border-color"
            data-stylelib-tpl-stylevalue-1="<?= isDarkBgColor ? 'rgba(255, 255, 255, 0.17)' : 'rgba(151, 151, 151, 0.2)' ?>"
            style="padding: 8px 0; display: flex; align-items: center"
          >
            <section
              data-stylelib-stylename="border-radius"
              data-stylelib-backgroundimage="default"
              data-stylelib-background-default-size="cover"
              style="
                width: 54px;
                height: 54px;
                border-radius: 6px;
                background-image: url(<%=row.background%>);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              "
            >
              <section style="display: none"></section>
            </section>
            <section style="flex: 1; margin: 0 16px">
              <section
                data-stylelib-tpl-stylename-1="color"
                contenteditable="<%=contentEditable%>"
                style="color:rgba(0, 0, 0, 0.87);font-size: 14px;"
                data-original-text=""
              >
                <span style="color: rgba(0, 0, 0, 0.86);font-size: 14px"> <%=row.content%> </span>
              </section>
            </section>
            <section
              data-stylelib-stylename="color"
              data-stylelib-varname="whiteBgLinkColor"
              data-stylelib-tpl-stylename-1="background-color"
              data-stylelib-tpl-stylevalue-1="<?=isDarkBgColor ? lightColor : '#f4f4f4'?>"
              style="
                display: inline-block;
                padding: 4px 14px;
                font-size: 14px;
                color: #166bc7;
                background-color: #f3f4f6;
                border-radius: 20px;
                white-space: nowrap;
                min-width: 30px;
                text-align: center;
              "
              contenteditable="<%=contentEditable%>"
            >
              <p>
                <span style="font-size: 14px; color: #166bc7; font-weight: 600"> 查看 </span>
              </p>
            </section>
          </section>
        </a>
      </section>
      <% }); %>
    </section>
    <section class="stylelib-list-add-delete-item stylelib-list-item stylelib-list-no-auto-add-item">
      <a style="display: block" href="navLink:" data-link-no-cancel="true">
        <section
          data-stylelib-tpl-stylename-1="border-color"
          data-stylelib-tpl-stylevalue-1="<?= isDarkBgColor ? 'rgba(151, 151, 151, 0.2)' : 'rgba(151, 151, 151, 0.2)' ?>"
          style="padding: 16px 0; display: flex; align-items: center;border-top-width: 1px;border-top-style: solid;border-color: rgba(151, 151, 151, 0.2);"
        >
          <section style="flex: 1">
            <section
              data-stylelib-tpl-stylename-1="color"
              data-stylelib-tpl-stylevalue-1="<?= isDarkBgColor ? 'rgba(255, 255, 255, 0.8)' : 'rgba(0, 0, 0, 0.87)' ?>"
              contenteditable="<%=contentEditable%>"
              style="color: rgba(120, 130, 140, 0.13);font-size: 14px;display: flex;justify-content: center;"
              data-original-text=""
            >
              <span style="font-size: 14px; color:#576B95; font-size: 14px; font-style: normal; font-weight: 600; line-height: normal">
                查看全部
              </span>
            </section>
          </section>
        </section>
      </a>
    </section>
    <section class="stylelib-list-item">
        <a style="display: block" href="navLink:" data-link-no-cancel="true">
          <section
            data-stylelib-tpl-stylename-1="border-color"
            data-stylelib-tpl-stylevalue-1="<?= isDarkBgColor ? 'rgba(255, 255, 255, 0.17)' : 'rgba(151, 151, 151, 0.2)' ?>"
            style="padding: 8px 0; display: flex; align-items: center"
          >
            <section
              data-stylelib-stylename="border-radius"
              data-stylelib-backgroundimage="default"
              data-stylelib-background-default-size="cover"
              style="
                width: 54px;
                height: 54px;
                border-radius: 6px;
                background-image: url(<%=row.background%>);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              "
            >
              <section style="display: none"></section>
            </section>
            <section style="flex: 1; margin: 0 16px">
              <section
                data-stylelib-tpl-stylename-1="color"
                contenteditable="<%=contentEditable%>"
                style="color:rgba(0, 0, 0, 0.87);font-size: 14px;"
                data-original-text=""
              >
                <span style="color: rgba(0, 0, 0, 0.86);font-size: 14px"> <%=row.content%> </span>
              </section>
            </section>
            <section
              data-stylelib-stylename="color"
              data-stylelib-varname="whiteBgLinkColor"
              data-stylelib-tpl-stylename-1="background-color"
              data-stylelib-tpl-stylevalue-1="<?=isDarkBgColor ? lightColor : '#f4f4f4'?>"
              style="
                display: inline-block;
                padding: 4px 14px;
                font-size: 14px;
                color: #166bc7;
                background-color: #f3f4f6;
                border-radius: 20px;
                white-space: nowrap;
                min-width: 30px;
                text-align: center;
              "
              contenteditable="<%=contentEditable%>"
            >
              <p>
                <span style="font-size: 14px; color: #166bc7; font-weight: 600"> 查看 </span>
              </p>
            </section>
          </section>
        </a>
      </section>
  </section>
</section>
